body{
    background:linear-gradient(#8ecae6, #588157, #219ebc, #A3B18A ); 
 color: white;
    
    font-family: "Sofadi One", system-ui;
}

.header{
    text-shadow: 2px 2px black;
    text-align: center;
    font-weight: bold;
}
.capital{
    margin-top: 10px;
    text-align: center;


}

.about{
    text-align: left;
}
.ktm{
    margin-top: 10px;
    width: 400px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;

   border: 7px solid #588157;
   
    
   }
    
.stupa{
    width:400;
    height: 300px;
    display: block;
    margin-left: auto; 
    margin-right: auto;
    
    border: 5px solid bisque;
    
    border-radius: 50%;
    }
    .img{
        width: 400px;
        margin-left: 500px;
        background-image: url("food.png");
        border:5px solid azure;
    }
     h3{
        margin-top:10px;
        margin-bottom:0 ;

    }
    #text{
        margin-top: 10px;
        width: 200px;
        padding-left: 10px;
        padding-right: 10px;
        height: 20px;
        display: inline-block;
        text-align: center;
        color:#A3B18A
    }
    #password{
        
        width: 200px;
        padding-left: 10px;
        padding-right: 10px;
        height: 20px;
        display: inline-block;
        text-align: center;
        color: #A3B18A;
    }

     #footer{
        font-weight: 800;
    }
    a{
        color: white;
    }    
        

      

    
    
    

    
            
        
            
            
        
            

        
       

